
			h1 {color:white;
			font: 185% Arial;
			font-weight: bold;	}
	
			h2 {color:gold;
			font: 125% Harrington;
			font-weight: bold;
			font-style: oblique;	}
			
			h3 {color:blue;		
			font: 120% Arial;
			margin: 20px;	  }

			h4 {color:white;		
			font: 150% Arial;
			margin: 20px;	
						}


			
    

	